@use "sass:color" as color;
$primaryColor: #293667;
$darknessP: color.scale($primaryColor, $lightness: -15%);
$secondaryColor: #056a54;
$dark: #222;
$light: #eee;
$black: #000;
$white: #fff;
//me gusto este color xdxdxdxdxd #abffff
/******************** Device Sizes ********************/
$phone: 320px;
$tablet:720px;
$desktop: 1200px;
$desktopXl: 2400px;


/*Fonts*/
$font: "Poppins", sans-serif;
$fontTitle: "Montserrat";

